
virtualscreen.s
tables.s
syms.txt
source/sys.o
source/sram.s_OLD
source/sram.o
source/crt0.o
source/clock.o
modules/gpu/virtualscreen.o
modules/gpu/gpu.o
mkfile
makefile.win
make.log
magworkspace
m4g080.gba
m4g081.gba
m4g.s
m4g.rar
m4g.Map
m4g.ii
m4g.gba
gpu.s
g++.exe.stackdump
error.txt
data/tables.o
cc1plus.exe.stackdump
build.log
build.bat
as.exe.stackdump
build.bat
adr2lin.exe
.vscode/settings.json
.vscode/launch.json
.vscode/c_cpp_properties.json
.Map
makefile.linux
Acceso directo a m4g.lnk
build.bat
caches.ii
caches.s
compile.bat
compile.log
controls.ii
controls.s
data/caches.o
data/controls.o
data/displays.o
data/help.o
data/tables.c
data/palette.o
data/layers.o
data/regions.o
data/tileset.o
data/variables.o
data/viewports.o
g++.bat
gcc.bat
gpu.ii
help.ii
int.s
int.ii
help.s
findcode
displays.ii
ld.bat
layers.ii
layers.s
key.s
key.ii
m4g.elf
m4g.o
m4g082.gba
mem.ii
mem.s
modules/int/int.o
modules/key/key.o
modules/mem/mem.o
modules/regionhandler/regionhandler.o
modules/spu/spu.o
modules/sram/sram.o
compile.log
gpu.ii
int.ii
int.s
int.s
key.ii
layers.ii
key.s
layers.s
ld.bat
m4g.elf
m4g.o
mem.ii
mem.s
modules/key/key.o
modules/int/int.o
modules/mem/mem.o
modules/regionhandler/regionhandler.o
modules/spu/spu.o
modules/sys/sys.o
modules/tim/tim.o
palette.ii
palette.s
regionhandler.ii
regionhandler.s
regions.ii
regions.s
spu.ii
spu.s
sram.ii
sram.s
spu.ii
spu.s
sys.ii
sys.s
tables.ii
tables.o
tileset.ii
tim.ii
tileset.s
tim.s
variables.ii
variables.s
viewports.ii
viewports.s
virtualscreen.ii
virtualscreen.o
dummy_main.s
displays.s
tileset.s
tim.ii
tim.s
variables.ii
variables.s
virtualscreen.ii
virtualscreen.o
dummy_main.s
findcode
g++.bat
int.s
gcc.bat
data/variables.o
data/tileset.o
data/palette.o
data/layers.o
data/caches.o
callbacks.s
callbacks/callbacks.o
*.ii
callbacks/cfg.o
callbacks/debug.o
callbacks/hlp.o
callbacks/ins.o
callbacks/liv1.o
callbacks/liv2.o
callbacks/pat.o
callbacks/sng.o
callbacks/snk.o
callbacks/trk.o
compile.log´
cfg.s
hlp.s
debug.s
ins.s
liv1.s
liv2.s
pat.s
sng.s
snk.s
trk.s
m4g_monolith.hpp
m4g_new.gba
mixer.s
modules/spu/mixer.o
modules/spu/sequencer.o
modules/spu/synth.o
synth.s
sequencer.s
callbacks/linkmode.o
linkmode.s
callbacks/coloreditor.o
callbacks/behavior.o
callbacks/looknfeel.o
looknfeel.s
coloreditor.s
behavior.s
docs/Thumbs.db
*.db
docs/Snaps/1.dia.autosave
docs/mockup/HEXTILER.EXE
docs/.~lock.todo.odt\#
