{% extends 'base.html' %}
{% load static %}

{% block title %}BUGTracker{% endblock %}

{% block content %}
//include "m4gdraft/api.php"; ?>
<?php include "../m4gdraft/style.php"; ?>
<header id="code">
<!-- <?php
	$id = false;
	$bug = false;
	$auth = false;
	$program = false;
	
	if(array_key_exists('id'			, $_GET )) $id 	 	= $_GET[ 'id'		   	];
	if(array_key_exists('id'			, $_POST)) $id		= $_POST['id'		   	];
	if(array_key_exists('program'		, $_POST)) $program = $_POST['program'	   	];
	if(array_key_exists('bug'			, $_POST)) $bug 	= $_POST['bug'			];
	
	
	switch($id){
		case md5('the_laohu'	):	$auth = 1; $asc_id = 'the_laohu'; break;
		case md5('smiker'		):	$auth = 1; $asc_id = 'smiker   '; break;
		case md5('pinakure'	):	$auth = 1; $asc_id = 'pinakure '; break;
		case md5('mitikoro'	):	$auth = 1; $asc_id = 'mitikoro '; break;
		case md5('mike    '	):	$auth = 1; $asc_id = 'mike     '; break;
		case md5('ilkke'		):	$auth = 1; $asc_id = 'ilkke    '; break;
			
		default:
			$auth = 0;
//			$id = md5($id);
			$asc_id = "nobody";
			break;
	}
	
	if($bug && $auth){
		$bugs = "";
		$bugs = file_get_contents('buglist_'.$program.'.txt');
		$bug = htmlentities($bug);
		file_put_contents('buglist_'.$program.'.txt', $bugs."<div><span class='white'>".$asc_id.'</span> : '.$bug.'</div>');		
	}
	
?> -->
</header>
<section id="output" style="width: 100% !important">
<h1 style="margin-right: 64px !important; text-align: right; width: 100%;">M4GEEK Bug Reporter</h1>
<hr class="red"/>
	<center>
	<hr/>
	<h2 style="margin-right: 64px !important; text-align: left; width: 100%;">M0-K1 Bug List</h2>
	<article style="margin-left: 1% !important; width: 97% !important">
		<pre style="text-align:left"><?php readfile("buglist_m0-k1.txt"); ?></pre>
		<hr/>
		<form style="width: 98%" method="post" action="index.php?id=<?=$id?>" >
			<textarea rows="2" noresize="noresize" maxlength="256" style="width: calc(100% - 120px); display:inline-block;" id="bug" name="bug" placeholder="Write bug description here..."></textarea>
			<input type="hidden" value="<?=$id?>" id="id" name="id"/>
			<input type="hidden" value="m0-k1" id="program" name="program"/>
			<button type="submit" action="index.php?id=<?=$id?>" style="width:100px; display: inline-block;">
				<a href="#"><h3 class="white" title="Reported by: <?=$asc_id?>" >Report bug</h3></a>
			</button>
		</form>
	</article>
	<br/>
	<hr/>
	<h2 style="margin-right: 64px !important; text-align: left; width: 100%;">M4GTracker Bug List</h2>
	<article style="margin-left: 1% !important; width: 97% !important">
		<pre style="text-align:left"><?php readfile("buglist_m4g.txt"); ?></pre>
		<hr/>
		<form style="width: 98%" method="post" action="index.php?id=<?=$id?>" >
			<textarea rows="2" noresize="noresize" maxlength="256" style="width: calc(100% - 120px); display:inline-block;" id="bug" name="bug" placeholder="Write bug description here..."></textarea>
			<input type="hidden" value="<?=$id?>" id="id" name="id"/>
			<input type="hidden" value="m4g" id="program" name="program"/>
			<button type="submit" action="index.php?id=<?=$id?>" style="width:100px; display: inline-block;">Report bug</button>
		</form>
	</article>
	<br/>
	</center>	
</section>
{% endblock %}