{% load static %}
<a class="fullwidth" href="/changes/">Change Log</a>
<a class="fullwidth" href="/snapshots/">Snapshots</a>
<a class="fullwidth" href="/todo/"><i class="m4gicons mi-checked"></i>Todo List</a>
<a class="fullwidth" href="/bugtracker/">BUGTracker</a>
<a class="fullwidth" href="/m0k1" ><i class="m4gicons mi-key"></i>&nbsp;M0K1</a>
<a class="fullwidth" href="https://github.com/pinakure/m4gtracker/tree/master" ><i class="m4gicons mi-copy"></i> SOURCE&nbsp;<i class="m4gicons mi-arrow-down"></i></a>
