{% load static %}

/* ----------------------------------------------------------------
    M4GIcons Library 
-----------------------------------------------------------------*/

/* main icon class */ 
.m4gicons {
    background-image: url( "{% static 'tileset-black.png' %}" ); 
    background-repeat: no-repeat no-repeat;
    display         : inline-block;
    position        : relative;
    width           : 8px;
    line-height     : 0px;
    height          : 8px;
    min-width       : 8px;
    min-height      : 8px;
    max-width       : 8px;
    max-height      : 8px;
    vertical-align  : bottom;
    overflow        : hidden;
}

/* background styles */
.m4gicons.black-background      { background-image: url( "{% static 'tileset-black.png'         %}" ); }
.m4gicons.white-background      { background-image: url( "{% static 'tileset-white.png'         %}" ); }
.m4gicons.gray-background       { background-image: url( "{% static 'tileset-gray.png'          %}" ); }
.m4gicons.orange-background     { background-image: url( "{% static 'tileset-orange.png'        %}" ); }
.m4gicons.brown-background      { background-image: url( "{% static 'tileset-brown.png'         %}" ); }
.m4gicons.yellow-background     { background-image: url( "{% static 'tileset-yellow.png'        %}" ); }
.m4gicons.olive-background      { background-image: url( "{% static 'tileset-olive.png'         %}" ); }
.m4gicons.red-background        { background-image: url( "{% static 'tileset-red.png'           %}" ); }
.m4gicons.dark-red-background   { background-image: url( "{% static 'tileset-dark_red.png'      %}" ); }
.m4gicons.green-background      { background-image: url( "{% static 'tileset-green.png'         %}" ); }
.m4gicons.dark-green-background { background-image: url( "{% static 'tileset-dark_green.png'    %}" ); }
.m4gicons.cyan-background       { background-image: url( "{% static 'tileset-cyan.png'          %}" ); }
.m4gicons.dark-cyan-background  { background-image: url( "{% static 'tileset-dark_cyan.png'     %}" ); }
.m4gicons.blue-background       { background-image: url( "{% static 'tileset-blue.png'          %}" ); }
.m4gicons.dark-blue-background  { background-image: url( "{% static 'tileset-dark_blue.png'     %}" ); }


/* Force every icon inside a Button or link have the same background as the buttons */
a .m4gicons                     { background-image: url( "{% static 'tileset-brown.png'         %}" ); }
button .m4gicons                { background-image: url( "{% static 'tileset-brown.png'         %}" ); }

/* Force every icon inside a Button or link have the same foregrouond color as the buttons */
a .m4gicons                     { background-color: var(--color-link                                ); }
button .m4gicons                { background-color: var(--color-link                                ); }

/* text/icon colors */ 
.m4gicons.black                 { background-color: #000000;                                        }
.m4gicons.white                 { background-color: var(--color-head                                ); }
.m4gicons.gray                  { background-color: var(--color-gray                                ); }
.m4gicons.orange                { background-color: var(--color-boldlink                            ); }
.m4gicons.brown                 { background-color: var(--color-backlink                            ); }
.m4gicons.yellow                { background-color: var(--color-link                                ); }
.m4gicons.olive                 { background-color: var(--color-olive                               ); }
.m4gicons.red                   { background-color: var(--color-red                                 ); }
.m4gicons.dark-red              { background-color: var(--color-pushlink                            ); }
.m4gicons.green                 { background-color: var(--color-green                               ); }
.m4gicons.dark-green            { background-color: var(--color-dark-green                          ); }    
.m4gicons.cyan                  { background-color: var(--color-bold                                ); }
.m4gicons.dark-cyan             { background-color: var(--color-normal                              ); }
.m4gicons.blue                  { background-color: var(--color-focus                               ); }
.m4gicons.dark-blue             { background-color: var(--color-backdrop                            ); }
            
/* Override : colored icons placed on buttons / links when hovered */
a:hover .m4gicons                       , button:hover .m4gicons                        ,
a:hover .m4gicons.black-background      , button:hover .m4gicons.black-background       ,
a:hover .m4gicons.white-background      , button:hover .m4gicons.white-background       ,
a:hover .m4gicons.gray-background       , button:hover .m4gicons.gray-background        ,
a:hover .m4gicons.orange-background     , button:hover .m4gicons.orange-background      ,
a:hover .m4gicons.brown-background      , button:hover .m4gicons.brown-background       ,
a:hover .m4gicons.yellow-background     , button:hover .m4gicons.yellow-background      ,
a:hover .m4gicons.olive-background      , button:hover .m4gicons.olive-background       ,
a:hover .m4gicons.red-background        , button:hover .m4gicons.red-background         ,
a:hover .m4gicons.dark-red-background   , button:hover .m4gicons.dark-red-background    ,
a:hover .m4gicons.green-background      , button:hover .m4gicons.green-background       ,
a:hover .m4gicons.dark-green-background , button:hover .m4gicons.dark-green-background  ,
a:hover .m4gicons.cyan-background       , button:hover .m4gicons.cyan-background        ,
a:hover .m4gicons.dark-cyan-background  , button:hover .m4gicons.dark-cyan-background   ,
a:hover .m4gicons.blue-background       , button:hover .m4gicons.blue-background        ,
a:hover .m4gicons.dark-blue-background  , button:hover .m4gicons.dark-blue-background   {
    background-image: url( "{% static 'tileset-orange.png'        %}" ); 
} 

/* Override : colored icons placed on buttons / links when focused */
a:focus .m4gicons                       , button:focus .m4gicons                        ,
a:focus .m4gicons.black-background      , button:focus .m4gicons.black-background       ,
a:focus .m4gicons.white-background      , button:focus .m4gicons.white-background       ,
a:focus .m4gicons.gray-background       , button:focus .m4gicons.gray-background        ,
a:focus .m4gicons.orange-background     , button:focus .m4gicons.orange-background      ,
a:focus .m4gicons.brown-background      , button:focus .m4gicons.brown-background       ,
a:focus .m4gicons.yellow-background     , button:focus .m4gicons.yellow-background      ,
a:focus .m4gicons.olive-background      , button:focus .m4gicons.olive-background       ,
a:focus .m4gicons.red-background        , button:focus .m4gicons.red-background         ,
a:focus .m4gicons.dark-red-background   , button:focus .m4gicons.dark-red-background    ,
a:focus .m4gicons.green-background      , button:focus .m4gicons.green-background       ,
a:focus .m4gicons.dark-green-background , button:focus .m4gicons.dark-green-background  ,
a:focus .m4gicons.cyan-background       , button:focus .m4gicons.cyan-background        ,
a:focus .m4gicons.dark-cyan-background  , button:focus .m4gicons.dark-cyan-background   ,
a:focus .m4gicons.blue-background       , button:focus .m4gicons.blue-background        ,
a:focus .m4gicons.dark-blue-background  , button:focus .m4gicons.dark-blue-background   { 
    background-image: url( "{% static 'tileset-blue.png'        %}" ); 
}
/* Override : colored icons placed on buttons / links when clicked */
a:active .m4gicons                      , button:active .m4gicons                       ,
a:active .m4gicons.black-background     , button:active .m4gicons.black-background      ,
a:active .m4gicons.white-background     , button:active .m4gicons.white-background      ,
a:active .m4gicons.gray-background      , button:active .m4gicons.gray-background       ,
a:active .m4gicons.orange-background    , button:active .m4gicons.orange-background     ,
a:active .m4gicons.brown-background     , button:active .m4gicons.brown-background      ,
a:active .m4gicons.yellow-background    , button:active .m4gicons.yellow-background     ,
a:active .m4gicons.olive-background     , button:active .m4gicons.olive-background      ,
a:active .m4gicons.red-background       , button:active .m4gicons.red-background        ,
a:active .m4gicons.dark-red-background  , button:active .m4gicons.dark-red-background   ,
a:active .m4gicons.green-background     , button:active .m4gicons.green-background      ,
a:active .m4gicons.dark-green-background, button:active .m4gicons.dark-green-background ,
a:active .m4gicons.cyan-background      , button:active .m4gicons.cyan-background       ,
a:active .m4gicons.dark-cyan-background , button:active .m4gicons.dark-cyan-background  ,
a:active .m4gicons.blue-background      , button:active .m4gicons.blue-background       ,    
a:active .m4gicons.dark-blue-background , button:active .m4gicons.dark-blue-background  { 
    background-image: url( "{% static 'tileset-dark_red.png'        %}" ); 
}

/* icon classes */
            
/* 0x00 */  .m4gicons.mi-0                  { background-position: calc(-1*      0      *8px) calc(-1*       0      *8px); }
            .m4gicons.mi-1                  { background-position: calc(-1*      1      *8px) calc(-1*       0      *8px); }
            .m4gicons.mi-2                  { background-position: calc(-1*      2      *8px) calc(-1*       0      *8px); }
            .m4gicons.mi-3                  { background-position: calc(-1*      3      *8px) calc(-1*       0      *8px); }
            .m4gicons.mi-4                  { background-position: calc(-1*      4      *8px) calc(-1*       0      *8px); }
            .m4gicons.mi-5                  { background-position: calc(-1*      5      *8px) calc(-1*       0      *8px); }
            .m4gicons.mi-6                  { background-position: calc(-1*      6      *8px) calc(-1*       0      *8px); }
            .m4gicons.mi-7                  { background-position: calc(-1*      7      *8px) calc(-1*       0      *8px); }
            .m4gicons.mi-8                  { background-position: calc(-1*      8      *8px) calc(-1*       0      *8px); }
            .m4gicons.mi-9                  { background-position: calc(-1*      9      *8px) calc(-1*       0      *8px); }
            .m4gicons.mi-A                  { background-position: calc(-1*     10      *8px) calc(-1*       0      *8px); }
            .m4gicons.mi-B                  { background-position: calc(-1*     11      *8px) calc(-1*       0      *8px); }
            .m4gicons.mi-C                  { background-position: calc(-1*     12      *8px) calc(-1*       0      *8px); }
            .m4gicons.mi-D                  { background-position: calc(-1*     13      *8px) calc(-1*       0      *8px); }
            .m4gicons.mi-E                  { background-position: calc(-1*     14      *8px) calc(-1*       0      *8px); }
            .m4gicons.mi-F                  { background-position: calc(-1*     15      *8px) calc(-1*       0      *8px); }
/* 0x10 */  .m4gicons.mi-G                  { background-position: calc(-1*      0      *8px) calc(-1*       1      *8px); }
            .m4gicons.mi-H                  { background-position: calc(-1*      1      *8px) calc(-1*       1      *8px); }
            .m4gicons.mi-I                  { background-position: calc(-1*      2      *8px) calc(-1*       1      *8px); }
            .m4gicons.mi-J                  { background-position: calc(-1*      3      *8px) calc(-1*       1      *8px); }
            .m4gicons.mi-K                  { background-position: calc(-1*      4      *8px) calc(-1*       1      *8px); }
            .m4gicons.mi-L                  { background-position: calc(-1*      5      *8px) calc(-1*       1      *8px); }
            .m4gicons.mi-M                  { background-position: calc(-1*      6      *8px) calc(-1*       1      *8px); }
            .m4gicons.mi-N                  { background-position: calc(-1*      7      *8px) calc(-1*       1      *8px); }
            .m4gicons.mi-O                  { background-position: calc(-1*      8      *8px) calc(-1*       1      *8px); }
            .m4gicons.mi-P                  { background-position: calc(-1*      9      *8px) calc(-1*       1      *8px); }
            .m4gicons.mi-Q                  { background-position: calc(-1*     10      *8px) calc(-1*       1      *8px); }
            .m4gicons.mi-R                  { background-position: calc(-1*     11      *8px) calc(-1*       1      *8px); }
            .m4gicons.mi-S                  { background-position: calc(-1*     12      *8px) calc(-1*       1      *8px); }
            .m4gicons.mi-T                  { background-position: calc(-1*     13      *8px) calc(-1*       1      *8px); }
            .m4gicons.mi-U                  { background-position: calc(-1*     14      *8px) calc(-1*       1      *8px); }
            .m4gicons.mi-V                  { background-position: calc(-1*     15      *8px) calc(-1*       1      *8px); }
/* 0x20 */  .m4gicons.mi-W                  { background-position: calc(-1*      0      *8px) calc(-1*       2      *8px); }
            .m4gicons.mi-X                  { background-position: calc(-1*      1      *8px) calc(-1*       2      *8px); }
            .m4gicons.mi-Y                  { background-position: calc(-1*      2      *8px) calc(-1*       2      *8px); }
            .m4gicons.mi-Z                  { background-position: calc(-1*      3      *8px) calc(-1*       2      *8px); }
            .m4gicons.mi-left-bracket       { background-position: calc(-1*      4      *8px) calc(-1*       2      *8px); }
            .m4gicons.mi-right-backet       { background-position: calc(-1*      5      *8px) calc(-1*       2      *8px); }
            .m4gicons.mi-backslash          { background-position: calc(-1*      6      *8px) calc(-1*       2      *8px); }
            .m4gicons.mi-slash              { background-position: calc(-1*      7      *8px) calc(-1*       2      *8px); }
            .m4gicons.mi-at                 { background-position: calc(-1*      8      *8px) calc(-1*       2      *8px); }
            .m4gicons.mi-lowdash            { background-position: calc(-1*      9      *8px) calc(-1*       2      *8px); }
            .m4gicons.mi-dash               { background-position: calc(-1*     10      *8px) calc(-1*       2      *8px); }
            .m4gicons.mi-double-dot         { background-position: calc(-1*     11      *8px) calc(-1*       2      *8px); }
            .m4gicons.mi-dot                { background-position: calc(-1*     12      *8px) calc(-1*       2      *8px); }
            .m4gicons.mi-hashtag            { background-position: calc(-1*     13      *8px) calc(-1*       2      *8px); }
            .m4gicons.mi-exclamation        { background-position: calc(-1*     14      *8px) calc(-1*       2      *8px); }
            .m4gicons.mi-question           { background-position: calc(-1*     15      *8px) calc(-1*       2      *8px); }
/* 0x30 */  .m4gicons.mi-pwm                { background-position: calc(-1*      5      *8px) calc(-1*       3      *8px); }
            .m4gicons.mi-nze                { background-position: calc(-1*      6      *8px) calc(-1*       3      *8px); }
            .m4gicons.mi-wav                { background-position: calc(-1*      7      *8px) calc(-1*       3      *8px); }
            .m4gicons.mi-fmw                { background-position: calc(-1*      8      *8px) calc(-1*       3      *8px); }
            .m4gicons.mi-smp                { background-position: calc(-1*      9      *8px) calc(-1*       3      *8px); }
            .m4gicons.mi-live-left          { background-position: calc(-1*     10      *8px) calc(-1*       3      *8px); }
            .m4gicons.mi-live-right         { background-position: calc(-1*     11      *8px) calc(-1*       3      *8px); }
            .m4gicons.mi-patedit            { background-position: calc(-1*     12      *8px) calc(-1*       3      *8px); }
            .m4gicons.mi-disk               { background-position: calc(-1*     13      *8px) calc(-1*       3      *8px); }
            .m4gicons.mi-tracker            { background-position: calc(-1*     14      *8px) calc(-1*       3      *8px); }
            .m4gicons.mi-key-inverted       { background-position: calc(-1*     14      *8px) calc(-1*       3      *8px); }
            .m4gicons.mi-instedit           ,
            .m4gicons.mi-waveform-inverted  { background-position: calc(-1*     15      *8px) calc(-1*       3      *8px); }
/* 0x40 */  .m4gicons.mi-pwm-inverted       { background-position: calc(-1*      0      *8px) calc(-1*       4      *8px); }
            .m4gicons.mi-nze-inverted       { background-position: calc(-1*      1      *8px) calc(-1*       4      *8px); }
            .m4gicons.mi-wav-inverted       { background-position: calc(-1*      2      *8px) calc(-1*       4      *8px); }
            .m4gicons.mi-fmw-inverted       { background-position: calc(-1*      3      *8px) calc(-1*       4      *8px); }
            .m4gicons.mi-smp-inverted       { background-position: calc(-1*      4      *8px) calc(-1*       4      *8px); }
            .m4gicons.mi-dash               { background-position: calc(-1*      5      *8px) calc(-1*       4      *8px); }
            .m4gicons.mi-record             { background-position: calc(-1*      6      *8px) calc(-1*       4      *8px); }
            .m4gicons.mi-keypad-left        { background-position: calc(-1*      7      *8px) calc(-1*       4      *8px); }
            .m4gicons.mi-keypad-right       { background-position: calc(-1*      8      *8px) calc(-1*       4      *8px); }
            .m4gicons.mi-keyboard-left      { background-position: calc(-1*      9      *8px) calc(-1*       4      *8px); }
            .m4gicons.mi-keyboard-right     { background-position: calc(-1*     10      *8px) calc(-1*       4      *8px); }
            .m4gicons.mi-instrument-left    { background-position: calc(-1*     11      *8px) calc(-1*       4      *8px); }
            .m4gicons.mi-instrument-right   { background-position: calc(-1*     12      *8px) calc(-1*       4      *8px); }
            .m4gicons.mi-volume             { background-position: calc(-1*     13      *8px) calc(-1*       4      *8px); }
            .m4gicons.mi-command-left       { background-position: calc(-1*     14      *8px) calc(-1*       4      *8px); }
            .m4gicons.mi-command-right      { background-position: calc(-1*     15      *8px) calc(-1*       4      *8px); }
/* 0x50 */  .m4gicons.mi-cut                { background-position: calc(-1*      0      *8px) calc(-1*       5      *8px); }
            .m4gicons.mi-copy               { background-position: calc(-1*      1      *8px) calc(-1*       5      *8px); }
            .m4gicons.mi-clone-left         { background-position: calc(-1*      2      *8px) calc(-1*       5      *8px); }
            .m4gicons.mi-clone-right        { background-position: calc(-1*      3      *8px) calc(-1*       5      *8px); }
            .m4gicons.mi-paste-left         { background-position: calc(-1*      4      *8px) calc(-1*       5      *8px); }
            .m4gicons.mi-solo-left          { background-position: calc(-1*      5      *8px) calc(-1*       5      *8px); }
            .m4gicons.mi-solo-right         { background-position: calc(-1*      6      *8px) calc(-1*       5      *8px); }
            .m4gicons.mi-mute-left          { background-position: calc(-1*      7      *8px) calc(-1*       5      *8px); }
            .m4gicons.mi-mute-right         ,
            .m4gicons.mi-paste-right        { background-position: calc(-1*      8      *8px) calc(-1*       5      *8px); }
            .m4gicons.mi-registered         { background-position: calc(-1*      9      *8px) calc(-1*       5      *8px); }
            .m4gicons.mi-trademark          ,
            .m4gicons.mi-tm                 { background-position: calc(-1*     10      *8px) calc(-1*       5      *8px); }
            .m4gicons.mi-snake-inverted     { background-position: calc(-1*     11      *8px) calc(-1*       5      *8px); }
            .m4gicons.mi-h-inverted         { background-position: calc(-1*     12      *8px) calc(-1*       5      *8px); }
            .m4gicons.mi-question-inverted  { background-position: calc(-1*     13      *8px) calc(-1*       5      *8px); }
            .m4gicons.mi-two-to-one         { background-position: calc(-1*     14      *8px) calc(-1*       5      *8px); }
            .m4gicons.mi-three-to-one       { background-position: calc(-1*     15      *8px) calc(-1*       5      *8px); }
/* 0x60 */  .m4gicons.mi-plus               { background-position: calc(-1*      0      *8px) calc(-1*       6      *8px); }
            .m4gicons.mi-minus              { background-position: calc(-1*      1      *8px) calc(-1*       6      *8px); }
            .m4gicons.mi-equals             { background-position: calc(-1*      2      *8px) calc(-1*       6      *8px); }
            .m4gicons.mi-quote              { background-position: calc(-1*      3      *8px) calc(-1*       6      *8px); }
            .m4gicons.mi-tilde              { background-position: calc(-1*      4      *8px) calc(-1*       6      *8px); }
            .m4gicons.mi-semicolon          { background-position: calc(-1*      5      *8px) calc(-1*       6      *8px); }
            .m4gicons.mi-colon              { background-position: calc(-1*      6      *8px) calc(-1*       6      *8px); }
            .m4gicons.mi-parenthesis-left   { background-position: calc(-1*      7      *8px) calc(-1*       6      *8px); }
            .m4gicons.mi-parenthesis-right  { background-position: calc(-1*      8      *8px) calc(-1*       6      *8px); }
            .m4gicons.mi-lesser-than        { background-position: calc(-1*      9      *8px) calc(-1*       6      *8px); }
            .m4gicons.mi-greater-than       { background-position: calc(-1*     10      *8px) calc(-1*       6      *8px); }
            .m4gicons.mi-dollar             { background-position: calc(-1*     11      *8px) calc(-1*       6      *8px); }
            .m4gicons.mi-ampersand          { background-position: calc(-1*     12      *8px) calc(-1*       6      *8px); }
            .m4gicons.mi-key                { background-position: calc(-1*     13      *8px) calc(-1*       6      *8px); }
            .m4gicons.mi-dots               { background-position: calc(-1*     14      *8px) calc(-1*       6      *8px); }
            .m4gicons.mi-percent            { background-position: calc(-1*     15      *8px) calc(-1*       6      *8px); }
/* 0x70 */  .m4gicons.mi-zero-upper         { background-position: calc(-1*      0      *8px) calc(-1*       7      *8px); }
            .m4gicons.mi-one-upper          { background-position: calc(-1*      1      *8px) calc(-1*       7      *8px); }
            .m4gicons.mi-two-upper          { background-position: calc(-1*      2      *8px) calc(-1*       7      *8px); }
            .m4gicons.mi-three-upper        { background-position: calc(-1*      3      *8px) calc(-1*       7      *8px); }
            .m4gicons.mi-four-upper         { background-position: calc(-1*      4      *8px) calc(-1*       7      *8px); }
            .m4gicons.mi-five-upper         { background-position: calc(-1*      5      *8px) calc(-1*       7      *8px); }
            .m4gicons.mi-six-upper          { background-position: calc(-1*      6      *8px) calc(-1*       7      *8px); }
            .m4gicons.mi-seven-upper        { background-position: calc(-1*      7      *8px) calc(-1*       7      *8px); }
            .m4gicons.mi-eight-upper        { background-position: calc(-1*      8      *8px) calc(-1*       7      *8px); }
            .m4gicons.mi-nine-upper         { background-position: calc(-1*      9      *8px) calc(-1*       7      *8px); }
            .m4gicons.mi-pe                 { background-position: calc(-1*     10      *8px) calc(-1*       7      *8px); }
            .m4gicons.mi-break-left         { background-position: calc(-1*     11      *8px) calc(-1*       7      *8px); }
            .m4gicons.mi-break-right        { background-position: calc(-1*     12      *8px) calc(-1*       7      *8px); }
            .m4gicons.mi-key-left           { background-position: calc(-1*     13      *8px) calc(-1*       7      *8px); }
            .m4gicons.mi-key-right          { background-position: calc(-1*     14      *8px) calc(-1*       7      *8px); }
            .m4gicons.mi-ps                 { background-position: calc(-1*     15      *8px) calc(-1*       7      *8px); }
/* 0x80 */  .m4gicons.mi-zero-lower         { background-position: calc(-1*      0      *8px) calc(-1*       8      *8px); }
            .m4gicons.mi-one-lower          { background-position: calc(-1*      1      *8px) calc(-1*       8      *8px); }
            .m4gicons.mi-two-lower          { background-position: calc(-1*      2      *8px) calc(-1*       8      *8px); }
            .m4gicons.mi-three-lower        { background-position: calc(-1*      3      *8px) calc(-1*       8      *8px); }
            .m4gicons.mi-four-lower         { background-position: calc(-1*      4      *8px) calc(-1*       8      *8px); }
            .m4gicons.mi-five-lower         { background-position: calc(-1*      5      *8px) calc(-1*       8      *8px); }
            .m4gicons.mi-six-lower          { background-position: calc(-1*      6      *8px) calc(-1*       8      *8px); }
            .m4gicons.mi-seven-lower        { background-position: calc(-1*      7      *8px) calc(-1*       8      *8px); }
            .m4gicons.mi-eight-lower        { background-position: calc(-1*      8      *8px) calc(-1*       8      *8px); }
            .m4gicons.mi-nine-lower         { background-position: calc(-1*      9      *8px) calc(-1*       8      *8px); }
            .m4gicons.mi-channel            { background-position: calc(-1*     10      *8px) calc(-1*       8      *8px); }
            .m4gicons.mi-no                 { background-position: calc(-1*     11      *8px) calc(-1*       8      *8px); }
            .m4gicons.mi-arrow-up           { background-position: calc(-1*     12      *8px) calc(-1*       8      *8px); }
            .m4gicons.mi-arrow-right        { background-position: calc(-1*     13      *8px) calc(-1*       8      *8px); }
            .m4gicons.mi-arrow-down         { background-position: calc(-1*     14      *8px) calc(-1*       8      *8px); }
            .m4gicons.mi-arrow-left         { background-position: calc(-1*     15      *8px) calc(-1*       8      *8px); }
/* 0x90 */  .m4gicons.mi-0x0                { background-position: calc(-1*      0      *8px) calc(-1*       9      *8px); }
            .m4gicons.mi-0x1                { background-position: calc(-1*      1      *8px) calc(-1*       9      *8px); }
            .m4gicons.mi-0x2                { background-position: calc(-1*      2      *8px) calc(-1*       9      *8px); }
            .m4gicons.mi-0x3                { background-position: calc(-1*      3      *8px) calc(-1*       9      *8px); }
            .m4gicons.mi-0x4                { background-position: calc(-1*      4      *8px) calc(-1*       9      *8px); }
            .m4gicons.mi-0x5                { background-position: calc(-1*      5      *8px) calc(-1*       9      *8px); }
            .m4gicons.mi-0x6                { background-position: calc(-1*      6      *8px) calc(-1*       9      *8px); }
            .m4gicons.mi-0x7                { background-position: calc(-1*      7      *8px) calc(-1*       9      *8px); }
            .m4gicons.mi-0x8                { background-position: calc(-1*      8      *8px) calc(-1*       9      *8px); }
            .m4gicons.mi-0x9                { background-position: calc(-1*      9      *8px) calc(-1*       9      *8px); }
            .m4gicons.mi-0xA                { background-position: calc(-1*     10      *8px) calc(-1*       9      *8px); }
            .m4gicons.mi-0xB                { background-position: calc(-1*     11      *8px) calc(-1*       9      *8px); }
            .m4gicons.mi-0xC                { background-position: calc(-1*     12      *8px) calc(-1*       9      *8px); }
            .m4gicons.mi-0xD                { background-position: calc(-1*     13      *8px) calc(-1*       9      *8px); }
            .m4gicons.mi-0xE                { background-position: calc(-1*     14      *8px) calc(-1*       9      *8px); }
            .m4gicons.mi-0xF                { background-position: calc(-1*     15      *8px) calc(-1*       9      *8px); }
/* 0xA0 */  .m4gicons.mi-checkbox           ,
            .m4gicons.mi-unchecked          { background-position: calc(-1*      0      *8px) calc(-1*      10      *8px); }
            .m4gicons.mi-checked            { background-position: calc(-1*      1      *8px) calc(-1*      10      *8px); }
            .m4gicons.mi-times              ,
            .m4gicons.mi-fail               { background-position: calc(-1*      2      *8px) calc(-1*      10      *8px); }
            .m4gicons.mi-check              ,
            .m4gicons.mi-success            { background-position: calc(-1*      3      *8px) calc(-1*      10      *8px); }
            .m4gicons.mi-sawtooth-reverse   { background-position: calc(-1*      4      *8px) calc(-1*      10      *8px); }
            .m4gicons.mi-sawtooth           { background-position: calc(-1*      5      *8px) calc(-1*      10      *8px); }
            .m4gicons.mi-sawtooth-double    { background-position: calc(-1*      6      *8px) calc(-1*      10      *8px); }
            .m4gicons.mi-sawtooth-quadruple { background-position: calc(-1*      7      *8px) calc(-1*      10      *8px); }
            .m4gicons.mi-shark              { background-position: calc(-1*      8      *8px) calc(-1*      10      *8px); }
            .m4gicons.mi-sine               { background-position: calc(-1*      9      *8px) calc(-1*      10      *8px); }
            .m4gicons.mi-triangle           { background-position: calc(-1*     10      *8px) calc(-1*      10      *8px); }
            .m4gicons.mi-triangle-double    { background-position: calc(-1*     11      *8px) calc(-1*      10      *8px); }
            .m4gicons.mi-square-octave      { background-position: calc(-1*     12      *8px) calc(-1*      10      *8px); }
            .m4gicons.mi-square-quarter     { background-position: calc(-1*     13      *8px) calc(-1*      10      *8px); }
            .m4gicons.mi-square-half        { background-position: calc(-1*     14      *8px) calc(-1*      10      *8px); }
            .m4gicons.mi-square-threequarter{ background-position: calc(-1*     15      *8px) calc(-1*      10      *8px); }
/* 0xB0 */  .m4gicons.mi-grid               { background-position: calc(-1*      0      *8px) calc(-1*      11      *8px); }
            .m4gicons.mi-dash-double        { background-position: calc(-1*      1      *8px) calc(-1*      11      *8px); }
            .m4gicons.mi-zerodot            { background-position: calc(-1*      2      *8px) calc(-1*      11      *8px); }
            .m4gicons.mi-warning            { background-position: calc(-1*      3      *8px) calc(-1*      11      *8px); }
            .m4gicons.mi-hexadecimal        ,
            .m4gicons.mi-zeroex             { background-position: calc(-1*      4      *8px) calc(-1*      11      *8px); }
            .m4gicons.mi-sync-left          { background-position: calc(-1*      5      *8px) calc(-1*      11      *8px); }
            .m4gicons.mi-sync-right         { background-position: calc(-1*      6      *8px) calc(-1*      11      *8px); }
            .m4gicons.mi-left               { background-position: calc(-1*      7      *8px) calc(-1*      11      *8px); }
            .m4gicons.mi-right              { background-position: calc(-1*      8      *8px) calc(-1*      11      *8px); }
            .m4gicons.mi-loop               { background-position: calc(-1*      9      *8px) calc(-1*      11      *8px); }
            .m4gicons.mi-pingpong           { background-position: calc(-1*     10      *8px) calc(-1*      11      *8px); }
            .m4gicons.mi-at-unknown         { background-position: calc(-1*     11      *8px) calc(-1*      11      *8px); }
            .m4gicons.mi-lsdj-left          { background-position: calc(-1*     12      *8px) calc(-1*      11      *8px); }
            .m4gicons.mi-lsdj-right         { background-position: calc(-1*     13      *8px) calc(-1*      11      *8px); }
            .m4gicons.mi-m4g-left           { background-position: calc(-1*     14      *8px) calc(-1*      11      *8px); }
            .m4gicons.mi-m4g-right          { background-position: calc(-1*     15      *8px) calc(-1*      11      *8px); }
/* 0xC0 */  .m4gicons.mi-A-upper            { background-position: calc(-1*      0      *8px) calc(-1*      12      *8px); }
            .m4gicons.mi-B-upper            { background-position: calc(-1*      1      *8px) calc(-1*      12      *8px); }
            .m4gicons.mi-C-upper            { background-position: calc(-1*      2      *8px) calc(-1*      12      *8px); }
            .m4gicons.mi-D-upper            { background-position: calc(-1*      3      *8px) calc(-1*      12      *8px); }
            .m4gicons.mi-E-upper            { background-position: calc(-1*      4      *8px) calc(-1*      12      *8px); }
            .m4gicons.mi-F-upper            { background-position: calc(-1*      5      *8px) calc(-1*      12      *8px); }
            .m4gicons.mi-G-upper            { background-position: calc(-1*      6      *8px) calc(-1*      12      *8px); }
            .m4gicons.mi-H-upper            { background-position: calc(-1*      7      *8px) calc(-1*      12      *8px); }
            .m4gicons.mi-I-upper            { background-position: calc(-1*      8      *8px) calc(-1*      12      *8px); }
            .m4gicons.mi-J-upper            { background-position: calc(-1*      9      *8px) calc(-1*      12      *8px); }
            .m4gicons.mi-K-upper            { background-position: calc(-1*     10      *8px) calc(-1*      12      *8px); }
            .m4gicons.mi-L-upper            { background-position: calc(-1*     11      *8px) calc(-1*      12      *8px); }
            .m4gicons.mi-M-upper            { background-position: calc(-1*     12      *8px) calc(-1*      12      *8px); }
            .m4gicons.mi-N-upper            { background-position: calc(-1*     13      *8px) calc(-1*      12      *8px); }
            .m4gicons.mi-O-upper            { background-position: calc(-1*     14      *8px) calc(-1*      12      *8px); }
            .m4gicons.mi-P-upper            { background-position: calc(-1*     15      *8px) calc(-1*      12      *8px); }
/* 0xD0 */  .m4gicons.mi-A-lower            { background-position: calc(-1*      0      *8px) calc(-1*      13      *8px); }
            .m4gicons.mi-B-lower            { background-position: calc(-1*      1      *8px) calc(-1*      13      *8px); }
            .m4gicons.mi-C-lower            { background-position: calc(-1*      2      *8px) calc(-1*      13      *8px); }
            .m4gicons.mi-D-lower            { background-position: calc(-1*      3      *8px) calc(-1*      13      *8px); }
            .m4gicons.mi-E-lower            { background-position: calc(-1*      4      *8px) calc(-1*      13      *8px); }
            .m4gicons.mi-F-lower            { background-position: calc(-1*      5      *8px) calc(-1*      13      *8px); }
            .m4gicons.mi-G-lower            { background-position: calc(-1*      6      *8px) calc(-1*      13      *8px); }
            .m4gicons.mi-H-lower            { background-position: calc(-1*      7      *8px) calc(-1*      13      *8px); }
            .m4gicons.mi-I-lower            { background-position: calc(-1*      8      *8px) calc(-1*      13      *8px); }
            .m4gicons.mi-J-lower            { background-position: calc(-1*      9      *8px) calc(-1*      13      *8px); }
            .m4gicons.mi-K-lower            { background-position: calc(-1*     10      *8px) calc(-1*      13      *8px); }
            .m4gicons.mi-L-lower            { background-position: calc(-1*     11      *8px) calc(-1*      13      *8px); }
            .m4gicons.mi-M-lower            { background-position: calc(-1*     12      *8px) calc(-1*      13      *8px); }
            .m4gicons.mi-N-lower            { background-position: calc(-1*     13      *8px) calc(-1*      13      *8px); }
            .m4gicons.mi-O-lower            { background-position: calc(-1*     14      *8px) calc(-1*      13      *8px); }
            .m4gicons.mi-P-lower            { background-position: calc(-1*     15      *8px) calc(-1*      13      *8px); }
/* 0xE0 */  .m4gicons.mi-Q-upper            { background-position: calc(-1*      0      *8px) calc(-1*      14      *8px); }
            .m4gicons.mi-R-upper            { background-position: calc(-1*      1      *8px) calc(-1*      14      *8px); }
            .m4gicons.mi-S-upper            { background-position: calc(-1*      2      *8px) calc(-1*      14      *8px); }
            .m4gicons.mi-T-upper            { background-position: calc(-1*      3      *8px) calc(-1*      14      *8px); }
            .m4gicons.mi-U-upper            { background-position: calc(-1*      4      *8px) calc(-1*      14      *8px); }
            .m4gicons.mi-V-upper            { background-position: calc(-1*      5      *8px) calc(-1*      14      *8px); }
            .m4gicons.mi-W-upper            { background-position: calc(-1*      6      *8px) calc(-1*      14      *8px); }
            .m4gicons.mi-X-upper            { background-position: calc(-1*      7      *8px) calc(-1*      14      *8px); }
            .m4gicons.mi-Y-upper            { background-position: calc(-1*      8      *8px) calc(-1*      14      *8px); }
            .m4gicons.mi-Z-upper            { background-position: calc(-1*      9      *8px) calc(-1*      14      *8px); }
            .m4gicons.mi-HASHTAG            { background-position: calc(-1*     10      *8px) calc(-1*      14      *8px); }
            .m4gicons.mi-DASH               { background-position: calc(-1*     11      *8px) calc(-1*      14      *8px); }
            .m4gicons.mi-DASH-BIG           { background-position: calc(-1*     13      *8px) calc(-1*      14      *8px); }
            .m4gicons.mi-CIRCLE-UL          { background-position: calc(-1*     14      *8px) calc(-1*      14      *8px); }
            .m4gicons.mi-CIRCLE-DL          { background-position: calc(-1*     15      *8px) calc(-1*      14      *8px); }
/* 0xF0 */  .m4gicons.mi-Q-lower            { background-position: calc(-1*      0      *8px) calc(-1*      15      *8px); }
            .m4gicons.mi-R-lower            { background-position: calc(-1*      1      *8px) calc(-1*      15      *8px); }
            .m4gicons.mi-S-lower            { background-position: calc(-1*      2      *8px) calc(-1*      15      *8px); }
            .m4gicons.mi-T-lower            { background-position: calc(-1*      3      *8px) calc(-1*      15      *8px); }
            .m4gicons.mi-U-lower            { background-position: calc(-1*      4      *8px) calc(-1*      15      *8px); }
            .m4gicons.mi-V-lower            { background-position: calc(-1*      5      *8px) calc(-1*      15      *8px); }
            .m4gicons.mi-W-lower            { background-position: calc(-1*      6      *8px) calc(-1*      15      *8px); }
            .m4gicons.mi-X-lower            { background-position: calc(-1*      7      *8px) calc(-1*      15      *8px); }
            .m4gicons.mi-Y-lower            { background-position: calc(-1*      8      *8px) calc(-1*      15      *8px); }
            .m4gicons.mi-Z-lower            { background-position: calc(-1*      9      *8px) calc(-1*      15      *8px); }
            .m4gicons.mi-HASHTAG-lower      { background-position: calc(-1*     10      *8px) calc(-1*      15      *8px); }
            .m4gicons.mi-DASH-lower         { background-position: calc(-1*     11      *8px) calc(-1*      15      *8px); }
            .m4gicons.mi-EXCLAMATION-BIG    { background-position: calc(-1*     13      *8px) calc(-1*      15      *8px); }
            .m4gicons.mi-CIRCLE-UR          { background-position: calc(-1*     14      *8px) calc(-1*      15      *8px); }
            .m4gicons.mi-CIRCLE-DR          { background-position: calc(-1*     15      *8px) calc(-1*      15      *8px); }
            
